.login
  .footer
    font-size: 20px
    color: grey!important
    margin-right: 5px
    margin-left: 5px

    .v-card:not(.v-sheet--tile):not(.v-card--shaped)
      border-radius: 0px !important

